BoazEngineJS/tsconfig.jsonmaarbugt
**.cs
**/node_modules
**/output
**.dll
**.obj
**.pdb
**.jpg
**.bmp
**.gif
**.mp3
**.js
src/sintervaniamodelold.ts
**/thegame.js.map
**/thegame.js
**.tsbuildinfo
**.rom
rom/ignore