**.cs
**/node_modules
**/output
**.dll
**.obj
**.pdb
**.jpg
**.bmp
**.gif
**.mp3
**.js.map
# Ignore all .js files except those in the "scripts" folder
**.js
!scripts/*.js
**/tempCodeRunnerFile.*
# Include specific .js files that were previously ignored
**.map
!pako_inflate.min.js
!gl-matrix-min.js
**.tsbuildinfo
**.rom
**.d.ts
!resourceids.d.ts
!rompack.d.ts
rom/ignore
dist/game_debug.html
dist/game.html
dist/manifest.json
