.head {
	touch-action: none;
}

.modal-dialog {
	position: fixed;
	background-color: rgba(240, 248, 255, 0.66);
	color: black;
	width: 800px;
	height: 600px;
	resize: both;
	font-family: monospace;
	z-index: 5000;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.modal-content table {
	width: 100%;
	height: 100%;
}

.modal-content table tr td {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: gainsboro;
}

.centered-text {
	text-align: center;
}

.modal-content table tr.selectableoption:hover,
.modal-content table tr.selectableoption:focus {
	color: white;
	background-color: rgba(0, 140, 0, 0.66);
	text-decoration: none;
	cursor: pointer;
}

.modal-content table tr.selectablerow:hover,
.modal-content table tr.selectablerow:focus {
	color: white;
	background-color: rgba(0, 0, 140, 0.66);
	text-decoration: none;
	cursor: pointer;
}

.modal-content table tr td.propvalue:hover,
.modal-content table tr td.propvalue:focus {
	color: white;
	background-color: rgba(0, 0, 255, 0.66);
	text-decoration: none;
	cursor: text;
}

.modal-content table tr td.mutated-propvalue {
	color: white;
	background-color: rgba(140, 0, 0, 0.66);
}

.modal-content table tr td.mutated-propvalue:hover,
.modal-content table tr td.mutated-propvalue:focus {
	color: white;
	background-color: rgba(255, 0, 0, 0.66);
}

.modal-content table tr td.immutable-propvalue:hover,
.modal-content table tr td.immutable-propvalue:focus {
	color: white;
	background-color: rgba(128, 128, 128, 0.66);
	text-decoration: none;
	cursor: not-allowed;
}

.modal-content table tr td.undefined-propvalue {
	color: darkslategray;
	font-style: italic;
}

.modal-content table tr td.undefined-propvalue:hover,
.modal-content table tr td.undefined-propvalue:focus {
	color: white;
	background-color: rgba(0, 0, 255, 0.66);
	text-decoration: none;
	cursor: text;
}

.modal-content table tr td.empty-propvalue {
	color: darkslategray;
	font-style: italic;
}

.modal-content table tr td.empty-propvalue:hover,
.modal-content table tr td.empty-propvalue:focus {
	background-color: rgba(128, 128, 128, 0.66);
	cursor: not-allowed;
}

.modal-content table tr td.excluded-propvalue {
	color: darkslategray;
	font-style: italic;
	text-decoration: line-through;
}

.modal-content table tr td.excluded-propvalue:hover,
.modal-content table tr td.excluded-propvalue:focus {
	background-color: rgba(128, 128, 128, 0.66);
	cursor: not-allowed;
}

.modal-content table tr td:first-of-type {
	font-weight: bold;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: gainsboro;
}

.modal-content table tr th {
	/* border-bottom-style: solid;
	border-bottom-color: black; */
	text-align: left;
	color: white;
	background-color: rgba(0, 0, 0, 0.66);
}

.modal-content {
	background-color: #fafafaaa;
	margin: 20px;
	border: 1px solid #888;
	overflow: auto;
}

.modal-title-wrapper {
	text-align: center;
	background: rgba(120, 136, 154, 0.66);
	white-space: nowrap;
}

.modal-close {
	color: white;
	text-align: right;
	font-size: 28px;
	font-weight: bold;
	margin-right: 20px;
	padding-left: 8px;
	padding-right: 8px;
	float: right;
}

.modal-back {
	color: white;
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	margin-left: 20px;
	padding-left: 8px;
	padding-right: 8px;
	float: left;
}

.modal-title {
	color: black;
	font-size: 28px;
	font-weight: bold;
	display: inline-block;
}

.fullscreen {
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
}

.modal-close:hover,
.modal-close:focus,
.modal-back:hover,
.modal-back:focus {
	color: white;
	background: rgba(10, 7, 7, 0.66);
	text-decoration: none;
	cursor: pointer;
}

svg.buttons {
	position: fixed;
	z-index: 2000;
	pointer-events: none;
	touch-action: none;
}

svg.buttons#btn1_svg {
	top: 40vh;
	left: 85vw;
}

svg.buttons#btn2_svg {
	top: 30vh;
	left: 92vw;
}

svg.buttons#btn3_svg {
	top: 30vh;
	left: 78vw;
}

svg.buttons#btn4_svg {
	top: 20vh;
	left: 85vw;
}

.knop {
	pointer-events: fill;
	touch-action: auto;
	stroke-width: 2px;
	z-index: 2000;
	opacity: .3;
	transform: scale(1);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

.knop.red:not(.los) {
	fill: red;
}

.knop.red.los {
	stroke: red;
}

.knop.blue:not(.los) {
	fill: blue;
}

.knop.blue.los {
	stroke: blue;
}

.knop.green:not(.los) {
	fill: green;
}

.knop.green.los {
	stroke: green;
}

.knop.yellow:not(.los) {
	fill: yellow;
}

.knop.yellow.los {
	stroke: yellow;
}

.knop.los {
	animation: button-los .5s forwards linear;
}

.knop.druk {
	z-index: 2001;
	transform: scale(.75 50% 50%);
}

@keyframes button-los {
	from {
		opacity: .6;
	}

	to {
		fill: transparent;
		opacity: .3;
	}
}

svg.d-pad {
	position: fixed;
	z-index: 2000;
	pointer-events: none;
	touch-action: none;
	top: 25vh;
	left: 24px;
	width: 100px;
	height: 100px;
	transform-box: fill-box;
	transform: scale(1.5);
}

.dknop {
	pointer-events: fill;
	touch-action: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

@keyframes dknop-los {
	from {
		fill: rgb(252, 172, 0);
		opacity: .3;
	}

	to {
		fill: transparent;
		opacity: 1;
	}
}

.dknop.los {
	animation: dknop-los .5s forwards linear;
}

.dknop.druk {
	opacity: .3;
	display: block;
	fill: gainsboro;
}

.d-pad-omheining {
	pointer-events: none;
	fill: none;
	opacity: .3;
	stroke-width: 1px;
	stroke: gainsboro;
	z-index: 2001;
}

.dstick {
	pointer-events: all;
	fill: transparent;
	opacity: 1;
	z-index: 2001;
}

body {
	position: fixed;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	overflow: hidden;
	background-color: #2020ff;

	cursor: auto;
	min-height: 100%;
	width: 100vw;
	height: 100%;
}

body.game-started {
	background-color: #101010;
}

html {
	width: 100vw;
	height: 100%;
}

#gamescreen {
	position: absolute;
	transform-origin: 0 0;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
	overflow: hidden;
	display: block;
	z-index: 999;
	background-color: #000000;
}

#hidor {
	z-index: 1000;
	position: absolute;
	top: 60vh;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2020ff;
}

.showsover {
	animation: colorto_showsover 1.0s forwards linear;
}

#msx {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	left: 50%;
}

#msx.hidden {
	transform: translateX(-50%) translateY(65vh);
}

#msx.enter {
	animation: enter 1.0s forwards linear;
	transform: translateX(-50%) translateY(65vh);
	display: block;
}

/* #msx.fade-in {
	animation: fade-in 5s;
}

#msx.fade-out {
	animation: fade-out 5s;
} */

@keyframes enter {
	from {
		transform: translateX(-50%) translateY(65vh);
	}

	to {
		transform: translateX(-50%) translateY(calc(60vh - 100%));
	}
}

@keyframes colorto_showsover {
	from {
		background-color: #2020ff;
	}

	to {
		background-color: #ff0000;
	}
}

#loading {
	z-index: 1001;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	position: absolute;
	top: 60vh;
	color: #ffffff;
	font-family: monospace;
	font-size: x-large;
	text-align: center;
}

#loading.appear {
	animation: fade-in-partial 1.0s infinite linear alternate;
}

#loading.fadeout {
	animation: fade-out 1.0s linear forwards;
}

#loading.coloring {
	animation: coloring 2s infinite;
}

@keyframes coloring {
	0% {
		color: #ffffff;
	}

	50% {
		color: #2020ff;
	}

	100% {
		color: #ffffff;
	}
}

@keyframes fade-in-partial {
	from {
		opacity: .3;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}