.head {
	touch-action: none;
}

.minimized {
	height: 30px;
}

.autosize {
	width: auto !important;
	height: auto !important;
	max-width: 100% !important;
	max-height: 100% !important;
	overflow: auto !important;
}

.modal-dialog {
	position: fixed;
	background-color: rgba(240, 248, 255, 0.66);
	color: black;
	width: 800px;
	height: 600px;
	resize: both;
	font-family: monospace;
	z-index: 5000;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.modal-content table {
	width: 100%;
	height: 100%;
	/* This ensures the borders on the cells do not double up */
	/* This adds a border around the table */
	border: 2px solid #000;
	padding: 2px;
}

.modal-content table tr td {
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: gainsboro;
	font-size: 12px;
	border: 1px solid #ddd;
}

.modal-content table tr:nth-child(even) {
	background-color: #f2f2f2;
	/* Zebra striping */
}

.centered-text {
	text-align: center;
}

.active-machine-or-state {
	color: white;
	background-color: darkblue;
}

.parallel-machine {
	color: white;
	background-color: darkgreen;
}

.modal-content table tr.selectableoption:hover,
.modal-content table tr.selectableoption:focus {
	color: white;
	background-color: rgba(0, 140, 0, 0.66);
	text-decoration: none;
	cursor: pointer;
}

.modal-content table tr.selectablerow:hover,
.modal-content table tr.selectablerow:focus {
	color: white;
	background-color: rgba(0, 0, 140, 0.66);
	text-decoration: none;
	cursor: pointer;
}

.modal-content table tr td.propvalue:hover,
.modal-content table tr td.propvalue:focus {
	color: white;
	background-color: rgba(0, 0, 255, 0.66);
	text-decoration: none;
	cursor: text;
}

.modal-content table tr td.propvalue select,
.modal-content table tr td.mutated-propvalue select {
	font-family: monospace;
	font-size: 12px;
}

.modal-content table tr td.propvalue:hover select,
.modal-content table tr td.propvalue:focus select {
	color: white;
	background-color: rgba(0, 0, 255, 0.66);
}

.modal-content table tr td.state:hover,
.modal-content table tr td.state:focus {
	color: white;
	background-color: rgba(0, 0, 255, 0.66);
	text-decoration: none;
	cursor: pointer;
}

.modal-content table tr td.mutated-propvalue {
	color: white;
	background-color: rgba(140, 0, 0, 0.66);
}

.modal-content table tr td.mutated-propvalue:hover,
.modal-content table tr td.mutated-propvalue:focus {
	color: white;
	background-color: rgba(255, 0, 0, 0.66);
}

.modal-content table tr td.mutated-propvalue select {
	color: white;
	background-color: rgba(140, 0, 0, 0.66);
}

.modal-content table tr td.mutated-propvalue select option:hover,
.modal-content table tr td.mutated-propvalue select option:focus {
	color: white;
	background-color: rgba(255, 0, 0, 0.66);
}

.modal-content table tr td.immutable-propvalue:hover,
.modal-content table tr td.immutable-propvalue:focus {
	color: white;
	background-color: rgba(128, 128, 128, 0.66);
	text-decoration: none;
	cursor: not-allowed;
}

.modal-content table tr td.undefined-propvalue {
	color: darkslategray;
	font-style: italic;
}

.modal-content table tr td.undefined-propvalue:hover,
.modal-content table tr td.undefined-propvalue:focus {
	color: white;
	background-color: rgba(0, 0, 255, 0.66);
	text-decoration: none;
	cursor: text;
}

.modal-content table tr td.empty-propvalue {
	color: darkslategray;
	font-style: italic;
}

.modal-content table tr td.empty-propvalue:hover,
.modal-content table tr td.empty-propvalue:focus {
	background-color: rgba(128, 128, 128, 0.66);
	cursor: not-allowed;
}

.modal-content table tr td.excluded-propvalue {
	color: darkslategray;
	font-style: italic;
	text-decoration: line-through;
}

.modal-content table tr td.excluded-propvalue:hover,
.modal-content table tr td.excluded-propvalue:focus {
	background-color: rgba(128, 128, 128, 0.66);
	cursor: not-allowed;
}

.modal-content table tr td.redirected-propvalue {
	color: darkslategray;
}

.modal-content table tr td.redirected-propvalue:hover,
.modal-content table tr td.redirected-propvalue:focus {
	background-color: rgba(0, 140, 0, 0.66);
	color: white;
	cursor: zoom-in;
}

.modal-content table tr td:first-of-type {
	font-weight: bold;
	text-decoration: underline;
	border-right-style: solid;
	border-right-width: thin;
	border-right-color: gainsboro;
}

.modal-content table tr th {
	text-align: left;
	color: white;
	background-color: rgba(0, 0, 0, 0.66);
}

.modal-content {
	background-color: #fafafaaa;
	margin: 20px;
	border: 1px solid #888;
	overflow: auto;
}

.modal-title-wrapper {
	text-align: center;
	background: rgba(120, 136, 154, 0.66);
	white-space: nowrap;
}

.modal-dialog-button {
	color: white;
	text-align: right;
	font-size: 28px;
	font-weight: bold;
	margin-right: 20px;
	padding-left: 8px;
	padding-right: 8px;
	float: right;
}

.modal-back {
	color: white;
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	margin-left: 20px;
	padding-left: 8px;
	padding-right: 8px;
	float: left;
}

.modal-title {
	color: black;
	font-size: 28px;
	font-weight: bold;
	display: inline-block;
}

.event-emitter-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.event-emitter-wrapper {
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.event-emitter-header {
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 5px;
}

.event-emitter-table {
	width: 100%;
	border-collapse: collapse;
}

.event-emitter-table th,
.event-emitter-table td {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: left;
}

.event-emitter-table th {
	background-color: #f0f0f0;
}

.clickable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.fullscreen {
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 100%;
}

.modal-dialog-button:hover,
.modal-dialog-button:focus,
.modal-back:hover,
.modal-back:focus {
	color: white;
	background: rgba(10, 7, 7, 0.66);
	text-decoration: none;
	cursor: pointer;
}

.knop {
	pointer-events: auto;
	touch-action: auto;
	z-index: 2000;
	opacity: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	fill: transparent;
	font-family: 'Press Start 2P';
	text-anchor: middle;
	font-size: 11px;
	transform: perspective(5px) translateZ(2px);
	fill: #333333;
}

/* Used for hiding buttons at game start, when these buttons are not needed for the game. */
.knop.hidden {
	display: none;
}

#button-controls {
	pointer-events: none;
	touch-action: none;
	opacity: 1;
	/* Remember to set this to .5 when you want to have the canvas take priority over the buttons in relation to sizing. */
}

#d-pad-controls {
	pointer-events: none;
	touch-action: none;
	opacity: 1;
	/* Remember to set this to .5 when you want to have the canvas take priority over the buttons in relation to sizing. */
}

.knop:not(.los) {
	transform: translateY(2px);
	filter: url(#pressedButtonFilter);
}

.knop.los {
	animation: button-los .10s forwards cubic-bezier(0.42, 0, 0.58, 1);
}

.knop.red+.knoptext {
	fill: #FF0000;
	/* Red */
}

.knop.blue+.knoptext {
	fill: #0000FF;
	/* Blue */
}

.knop.green+.knoptext {
	fill: #008000;
	/* Green */
}

.knop.pink+.knoptext {
	fill: #FF00FF;
	/* Magenta */
}

.knop.orange+.knoptext {
	fill: #FFA500;
	/* Orange */
}

.knop.purple+.knoptext {
	fill: #800080;
	/* Purple */
}

.knop.light-blue+.knoptext {
	fill: #00BFFF;
	/* Deep Sky Blue */
}

.knop.yellow+.knoptext {
	fill: #FFFF00;
	/* Yellow */
}

@keyframes button-los {
	from {
		transform: translateY(2px);
		filter: url(#pressedButtonFilter);
	}

	to {
		transform: none;
		filter: url(#buttonFilter);
	}
}

#d-pad-svg {
	transform-origin: left bottom;
}

#action-buttons-svg {
	transform-origin: right bottom;
}

svg.d-pad {
	position: absolute;
	z-index: 2000;
	pointer-events: auto;
	touch-action: auto;
	left: 0;
	/* bottom: Handled in JavaScript. */
}

svg.action-buttons {
	position: absolute;
	z-index: 2000;
	pointer-events: auto;
	touch-action: auto;
	/* bottom: Handled in JavaScript. */
	right: 0;
}

.dknop {
	pointer-events: auto;
	touch-action: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}

#d-pad-omheining {
	z-index: 3000;
}

#d-pad-omheining.d-pad-lu {
	/* filter: url(#dPadFilterLeftUp) !important; */
	background-color: #000000;
}

#d-pad-omheining.d-pad-u {
	/* filter: url(#dPadFilterUp) !important; */
	background-color: #000001;
}

#d-pad-omheining.d-pad-ru {
	/* filter: url(#dPadFilterRightUp) !important; */
	background-color: #000002;
}

#d-pad-omheining.d-pad-r {
	/* filter: url(#dPadFilterRight) !important; */
	background-color: #000003;
}

#d-pad-omheining.d-pad-ld {
	/* filter: url(#dPadFilterLeftDown) !important; */
	background-color: #000004;
}

#d-pad-omheining.d-pad-d {
	/* filter: url(#dPadFilterDown) !important; */
	background-color: #000005;
}

#d-pad-omheining.d-pad-rd {
	/* filter: url(#dPadFilterRightDown) !important; */
	background-color: #000006;
}

#d-pad-omheining.d-pad-l {
	/* filter: url(#dPadFilterLeft) !important; */
	background-color: #000007;
}

.d-pad-image {
	display: none;
}

#d-pad-omheining:not([class]),
#d-pad-omheining[class=""]~.d-pad-none {
	display: block;
}

#d-pad-omheining.d-pad-u~.d-pad-u {
	display: block;
}

#d-pad-omheining.d-pad-ru~.d-pad-ru {
	display: block;
}

#d-pad-omheining.d-pad-r~.d-pad-r {
	display: block;
}

#d-pad-omheining.d-pad-rd~.d-pad-rd {
	display: block;
}

#d-pad-omheining.d-pad-d~.d-pad-d {
	display: block;
}

#d-pad-omheining.d-pad-ld~.d-pad-ld {
	display: block;
}

#d-pad-omheining.d-pad-l~.d-pad-l {
	display: block;
}

#d-pad-omheining.d-pad-lu~.d-pad-lu {
	display: block;
}

body {
	position: fixed;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	overflow: hidden;
	background-color: #2020ff;

	cursor: auto;
	min-height: 100%;
	width: 100vw;
	height: 100%;
}

body.game-started {
	background-color: #101010;
}

html {
	width: 100vw;
	height: 100%;
}

#gameContainer {
	position: relative;
}

#gamescreen {
	position: fixed;
	transform-origin: 0 0;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
	overflow: hidden;
	display: none;
	z-index: -1;
	/* Required for touch controls to show up even when opacity < 1.0 */
	background-color: #000000;
}

#hidor {
	z-index: 1000;
	position: absolute;
	top: 60vh;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2020ff;
}

.showsover {
	animation: colorto_showsover 1.0s forwards linear;
}

#msx {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	left: 50%;
	max-height: 55%;
}

#msx.hidden {
	transform: translateX(-50%) translateY(65vh);
}

#msx.enter {
	animation: enter 1.0s forwards linear;
	transform: translateX(-50%) translateY(65vh);
	display: block;
}

/* #msx.fade-in {
	animation: fade-in 5s;
}

#msx.fade-out {
	animation: fade-out 5s;
} */

@keyframes enter {
	from {
		transform: translateX(-50%) translateY(65vh);
	}

	to {
		transform: translateX(-50%) translateY(calc(60vh - 100%));
	}
}

@keyframes colorto_showsover {
	from {
		background-color: #2020ff;
	}

	to {
		background-color: #ff0000;
	}
}

#loading {
	z-index: 1001;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	position: absolute;
	top: 60vh;
	color: #ffffff;
	font-family: monospace;
	/* font-family: 'Press Start 2P'; */
	/* font-size: min(max(16px, 3vw), 64px); */
	font-size: clamp(16px, 2vw, 64px);
	text-align: center;
	font-weight: normal;
}

#extra-message {
	z-index: 1001;
	margin-left: auto;
	margin-right: auto;
	width: 100vw;
	position: absolute;
	color: #ff0000;
	font-family: monospace;
	/* font-family: 'Press Start 2P'; */
	/* font-size: min(max(16px, 2vw), 32px); */
	font-size: clamp(16px, 2vw, 64px);
	text-align: center;
	font-weight: normal;
}

.appear {
	animation: fade-in-partial 1.0s infinite linear alternate;
}

.fadeout {
	animation: fade-out 1.0s linear forwards;
}

#loading.coloring {
	animation: coloring 2s infinite;
}

@keyframes coloring {
	0% {}

	50% {
		color: #2020ff;
	}

	100% {}
}

@keyframes fade-in-partial {
	from {
		opacity: .3;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}