#up_knop {
	width: 0;
	height: 0;
	top: 60vh;
	left: 10vw;
	border-left: 10vw solid transparent;
	border-right: 10vw solid transparent;
	border-bottom: 10vh solid #fff
}

#down_knop {
	width: 0;
	height: 0;
	top: 90vh;
	left: 10vw;
	border-left: 10vw solid transparent;
	border-right: 10vw solid transparent;
	border-top: 10vh solid #fff
}

#right_knop {
	width: 0;
	height: 0;
	top: 70vh;
	left: 30vw;
	border-top: 10vh solid transparent;
	border-bottom: 10vh solid transparent;
	border-left: 10vw solid #fff
}

#left_knop {
	width: 0;
	height: 0;
	top: 70vh;
	left: 0;
	border-top: 10vh solid transparent;
	border-bottom: 10vh solid transparent;
	border-right: 10vw solid #fff
}

svg.buttons {
	position: fixed;
	z-index: 2000;
}

.knop {
	opacity: .5;
	z-index: 2000;
}

.dknop {
	opacity: .5;
	z-index: 2000;
}

.knop:active {
	opacity: .8;
	display: block;
	border-radius: 1px;
	transition: all .5s cubic-bezier(.25, 1.7, .35, 1.5);
	/* transform: scale(.8) */
}

svg.d-pad {
	top: 70vh;
	left: 50px;
	width: 100px;
	height: 100px;
	position: fixed;
	transform-origin: 50% 50%;
	transform: rotate(22.5deg) scale(1.5);
	z-index: 2000;
}

.dknop:active {
	opacity: .8;
	display: block;
	transition: all .5s cubic-bezier(.25, 1.7, .35, 1.5);
}

body {
	position: fixed;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
	overflow: hidden;
	background-color: #2020ff;
	cursor: pointer;
}

html {
	width: 100vw;
	height: 100%;
	touch-action: manipulation;
}

body {
	min-height: 100%;
	width: 100vw;
	height: 100%;
	overflow: hidden;
}

#gamescreen {
	position: absolute;
	top: 0px;
	left: 0px;
	transform-origin: 0 0;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
	overflow: hidden;
  	z-index: 999;
}

#hidor {
	z-index: 1000;
	position: absolute;
	top: 60vh;
	left: 0;
	width: 100%;
  	height: 100%;
	background-color: #2020ff;
}

#msx {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	left: 50%;
	transform: translateX(-50%);
	/* transform: translate(-50%, -50%); */
}

#msx.enter {
	animation: enter 1.0s forwards linear;
}

@keyframes enter {
	from {
		top: 60vh;
	}

	to {
		top: 30vh;
	}
}

#loading {
	z-index: 1001;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: absolute;
	top: 60vh;
	color: #ffffff;
	font-family: monospace;
	font-size: x-large;
	text-align: center;
	visibility: hidden;
}

#loading.appear {
	animation: fadein 1.0s infinite linear alternate;
}

#loading.fadeout {
	animation: fadeout 1.0s linear forwards;
}

#loading.coloring {
	animation: coloring 2s infinite;
}

#loading.invisible {
	display: none;
}

@keyframes coloring {
	0% { color: #ffffff; }
	50% { color: #2020ff; }
	100% { color: #ffffff; }
}

@keyframes fadein {
	from {
		opacity: .3;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
